html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}


img {
    /* top: 0%;
    left: 50%; */
    width: 600px;
    height: 700px;
    padding: 50px;
    position: center;

}

  #moviebox {
    size: 100px;
    margin-left: 700px; 
    margin-top: -750px;
    width: 30%;
    height: 700px;
    padding: 50px;
    background-color: white;
    border:10px;
    border-style:dotted;
    border-color: black;
    tex
}
